<h1 class="text-center">API app with Pagination</h1>
<p class="text-primary">This app displays the results of an API that has more than one page.</p>
<p>Press the button below to fill out the table with the API's results</p>
<section>
    <button type="button" class="btn btn-success" (click)="processApi()">Load API results</button>
    
    <button *ngIf="isPrevious" type="button" class="btn btn-info" (click)="previousPage()">Previous page</button>
    <button *ngIf="!isPrevious" type="button" class="btn btn-info disabled" (click)="previousPage()">Previous page</button>    

    <button *ngIf="isNext" type="button" class="btn btn-info" (click)="nextPage()">Next page</button>
    <button *ngIf="!isNext" type="button" class="btn btn-info disabled" (click)="nextPage()">Next page</button>    
</section>
<div class="margin-top">
    <table class="table table-hover table-condensed">
        <thead class="thead-inverse">
            <tr class="success">
                <th>Business Entity ID</th>
                <th>National ID Number</th>
                <th>Login ID</th>
                <th>Job Title</th>
                <th>Birthdate</th>
                <th>Marital Status</th>
                <th>Gender</th>
                <th>Hire Date</th>
                <th>Vacation Hours</th>
                <th>Sick Leave Hours</th>
                <th>Modified Date</th>
            </tr>
        </thead>
        <tbody>
            <tr app-employee *ngFor="let employee of employees" [employee]="employee">
            </tr>
        </tbody>
    </table>
</div>
<p><small>End of the table</small></p>
