<h1 class="text-center">Simple API app</h1>
<p class="text-primary">This app consumes an API and displays the results returned in the of table rows.</p>
<p>Press the button below to fill out the table with the API's results</p>
<button type="button" class="btn btn-primary btn-block" (click)="processApi()">Load API results</button>
<div class="margin-top">
    <table class="table table-hover table-condensed">
        <thead class="thead-inverse">
            <tr class="info">
                <th>Department ID</th>
                <th>Name</th>
                <th>Group Name</th>
                <th>Modified Date</th>
            </tr>
        </thead>
        <tbody>
            <tr app-result-module *ngFor="let result of results" [result]="result">
            </tr>
        </tbody>
    </table>
</div>
<p><small>End of the table</small></p>
